## Part 1: Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [2]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [3]:
# Create y_df with the Attrition and Department columns
y = attrition_df[['Attrition', 'Department']]
y

     Attrition              Department
0          Yes                   Sales
1           No  Research & Development
2          Yes  Research & Development
3           No  Research & Development
4           No  Research & Development
...        ...                     ...
1465        No  Research & Development
1466        No  Research & Development
1467        No  Research & Development
1468        No                   Sales
1469        No  Research & Development

[1470 rows x 2 columns]

In [4]:
y['Attrition'].value_counts()

Attrition
No     1233
Yes     237
Name: count, dtype: int64

In [5]:
y['Department'].value_counts()

Department
Research & Development    961
Sales                     446
Human Resources            63
Name: count, dtype: int64

In [6]:
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [7]:
# Create a list of at least 10 column names to use as X data
list_x = ['Age', 'DistanceFromHome', 'Education', 'HourlyRate', 'NumCompaniesWorked', 'PercentSalaryHike', 'TotalWorkingYears', 'YearsAtCompany', 'YearsInCurrentRole', 'WorkLifeBalance', 'YearsSinceLastPromotion', 'YearsWithCurrManager']


# Create X_df using your selected columns
X = attrition_df[list_x]

# Show the data types for X_df
X.dtypes

Age                        int64
DistanceFromHome           int64
Education                  int64
HourlyRate                 int64
NumCompaniesWorked         int64
PercentSalaryHike          int64
TotalWorkingYears          int64
YearsAtCompany             int64
YearsInCurrentRole         int64
WorkLifeBalance            int64
YearsSinceLastPromotion    int64
YearsWithCurrManager       int64
dtype: object

In [8]:
X

,Age,DistanceFromHome,Education,HourlyRate,NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,YearsAtCompany,YearsInCurrentRole,WorkLifeBalance,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,94,8,11,8,6,4,1,0,5
1,49,8,1,61,1,23,10,10,7,3,1,7
2,37,2,2,92,6,15,7,0,0,3,0,0
3,33,3,4,56,1,11,8,8,7,3,3,0
4,27,2,1,40,9,12,6,2,2,3,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,23,2,41,4,17,17,5,2,3,0,3
1466,39,6,1,42,4,15,9,7,7,3,1,7
1467,27,4,3,87,1,20,6,6,2,3,0,3
1468,49,2,3,63,2,14,17,9,6,2,0,8
1469,34,8,3,82,2,12,6,4,3,4,1,2

In [9]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1470 non-null   int64
 1   DistanceFromHome         1470 non-null   int64
 2   Education                1470 non-null   int64
 3   HourlyRate               1470 non-null   int64
 4   NumCompaniesWorked       1470 non-null   int64
 5   PercentSalaryHike        1470 non-null   int64
 6   TotalWorkingYears        1470 non-null   int64
 7   YearsAtCompany           1470 non-null   int64
 8   YearsInCurrentRole       1470 non-null   int64
 9   WorkLifeBalance          1470 non-null   int64
 10  YearsSinceLastPromotion  1470 non-null   int64
 11  YearsWithCurrManager     1470 non-null   int64
dtypes: int64(12)
memory usage: 137.9 KB

In [10]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Show the YearsAtCompany column for the training set
X_train['YearsAtCompany']

591     3
267     6
1236    2
788     8
1224    3
       ..
310     2
105     3
40      1
470     2
709     3
Name: YearsAtCompany, Length: 1102, dtype: int64

In [12]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
# Use column YearsAtCompany

X_train['YearsAtCompany'] = X_train['YearsAtCompany'].astype('int64')
X_test['YearsAtCompany'] = X_test['YearsAtCompany'].astype('int64')

In [13]:
# Create a StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data
X_scaled = scaler.fit(X)

# Scale the training and testing data
X_train_scaled = X_scaled.transform(X_train)
X_test_scaled = X_scaled.transform(X_test)

In [14]:
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder for the Department column
DepOHE = OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
DepOHE.fit(y_train[['Department']])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_encoded_Dep = DepOHE.transform(y_train[['Department']])
y_test_encoded_Dep = DepOHE.transform(y_test[['Department']])

In [15]:
# Create a OneHotEncoder for the Attrition column
AttrOHE = OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
AttrOHE.fit(y_train[['Attrition']])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_encoded_Attr = AttrOHE.transform(y_train[['Attrition']])
y_test_encoded_Attr = AttrOHE.transform(y_test[['Attrition']])

## Create, Compile, and Train the Model

In [16]:
# Find the number of columns in the X training data
num_cols = X_train_scaled.shape[1]
print("The number of columns in the X train data are: ", num_cols)
# Create the input layer
input_layer = layers.Input(shape=(num_cols,))

# Create at least two shared layers
shared_layer1 = layers.Dense(55, activation='relu')(input_layer)
shared_layer2 = layers.Dense(66, activation='relu')(shared_layer1)

The number of columns in the X train data are:  12

In [17]:
import tensorflow.keras as keras

In [18]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer
dep_hidden = keras.layers.Dense(5, activation='relu')(shared_layer2)

# Create the output layer
dep_output = keras.layers.Dense(3, activation='softmax', name='Department')(dep_hidden)

In [19]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer
att_hidden = keras.layers.Dense(5, activation='relu')(shared_layer2)

# Create the output layer
att_output = keras.layers.Dense(2, activation='softmax', name='Attrition')(att_hidden)

In [20]:
# Create the model
att_model = Model(inputs=input_layer, outputs=[dep_output, att_output])

# Compile the model
att_model.compile(optimizer='adam',
                  loss={'Department': 'categorical_crossentropy', 'Attrition': 'binary_crossentropy'},
                  metrics={'Department': 'accuracy',
                           'Attrition': 'accuracy'})
# Summarize the model
att_model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_1 (InputLayer)        [(None, 12)]                 0         []

 dense (Dense)               (None, 55)                   715       ['input_1[0][0]']

 dense_1 (Dense)             (None, 66)                   3696      ['dense[0][0]']

 dense_2 (Dense)             (None, 5)                    335       ['dense_1[0][0]']

 dense_3 (Dense)             (None, 5)                    335       ['dense_1[0][0]']

 Department (Dense)          (None, 3)                    18        ['dense_2[0][0]']

 Attrition (Dense)           (None, 2)                    12        ['dense_3[0][0]']

==================================================================================================
Total params: 5111 (19.96 KB)
Trainable params: 5111 (19.96 KB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [21]:
# Train the model
att_model.fit(X_train_scaled, {'Department': y_train_encoded_Dep, 'Attrition': y_train_encoded_Attr}, 
              epochs=25, validation_split=0.2, verbose=1)

Epoch 1/25

28/28 [==============================] - 0s 5ms/step - loss: 1.6761 - Department_loss: 1.0463 - Attrition_loss: 0.6298 - Department_accuracy: 0.3417 - Attrition_accuracy: 0.8070 - val_loss: 1.5635 - val_Department_loss: 0.9885 - val_Attrition_loss: 0.5750 - val_Department_accuracy: 0.4208 - val_Attrition_accuracy: 0.8235
Epoch 2/25
28/28 [==============================] - 0s 1ms/step - loss: 1.4116 - Department_loss: 0.8875 - Attrition_loss: 0.5241 - Department_accuracy: 0.5868 - Attrition_accuracy: 0.8286 - val_loss: 1.2888 - val_Department_loss: 0.7869 - val_Attrition_loss: 0.5019 - val_Department_accuracy: 0.6606 - val_Attrition_accuracy: 0.8235
Epoch 3/25
28/28 [==============================] - 0s 1ms/step - loss: 1.2422 - Department_loss: 0.7723 - Attrition_loss: 0.4699 - Department_accuracy: 0.6640 - Attrition_accuracy: 0.8286 - val_loss: 1.2245 - val_Department_loss: 0.7425 - val_Attrition_loss: 0.4820 - val_Department_accuracy: 0.6606 - val_Attrition_accuracy: 0.8235
Epoch 4/25
28/28 [==============================] - 0s 1ms/step - loss: 1.2105 - Department_loss: 0.7571 - Attrition_loss: 0.4534 - Department_accuracy: 0.6674 - Attrition_accuracy: 0.8286 - val_loss: 1.2151 - val_Department_loss: 0.7417 - val_Attrition_loss: 0.4734 - val_Department_accuracy: 0.6606 - val_Attrition_accuracy: 0.8235
Epoch 5/25
28/28 [==============================] - 0s 1ms/step - loss: 1.1879 - Department_loss: 0.7456 - Attrition_loss: 0.4423 - Department_accuracy: 0.6686 - Attrition_accuracy: 0.8286 - val_loss: 1.2096 - val_Department_loss: 0.7429 - val_Attrition_loss: 0.4668 - val_Department_accuracy: 0.6606 - val_Attrition_accuracy: 0.8235
Epoch 6/25
28/28 [==============================] - 0s 1ms/step - loss: 1.1742 - Department_loss: 0.7407 - Attrition_loss: 0.4336 - Department_accuracy: 0.6686 - Attrition_accuracy: 0.8286 - val_loss: 1.2034 - val_Department_loss: 0.7411 - val_Attrition_loss: 0.4623 - val_Department_accuracy: 0.6606 - val_Attrition_accuracy: 0.8235
Epoch 7/25
28/28 [==============================] - 0s 1ms/step - loss: 1.1581 - Department_loss: 0.7314 - Attrition_loss: 0.4267 - Department_accuracy: 0.6754 - Attrition_accuracy: 0.8286 - val_loss: 1.2012 - val_Department_loss: 0.7414 - val_Attrition_loss: 0.4597 - val_Department_accuracy: 0.6652 - val_Attrition_accuracy: 0.8235
Epoch 8/25
28/28 [==============================] - 0s 2ms/step - loss: 1.1455 - Department_loss: 0.7255 - Attrition_loss: 0.4200 - Department_accuracy: 0.6754 - Attrition_accuracy: 0.8286 - val_loss: 1.2041 - val_Department_loss: 0.7470 - val_Attrition_loss: 0.4571 - val_Department_accuracy: 0.6606 - val_Attrition_accuracy: 0.8235
Epoch 9/25
28/28 [==============================] - 0s 3ms/step - loss: 1.1360 - Department_loss: 0.7214 - Attrition_loss: 0.4145 - Department_accuracy: 0.6822 - Attrition_accuracy: 0.8286 - val_loss: 1.2046 - val_Department_loss: 0.7483 - val_Attrition_loss: 0.4562 - val_Department_accuracy: 0.6606 - val_Attrition_accuracy: 0.8235
Epoch 10/25
28/28 [==============================] - 0s 1ms/step - loss: 1.1249 - Department_loss: 0.7155 - Attrition_loss: 0.4095 - Department_accuracy: 0.6754 - Attrition_accuracy: 0.8286 - val_loss: 1.2036 - val_Department_loss: 0.7492 - val_Attrition_loss: 0.4544 - val_Department_accuracy: 0.6652 - val_Attrition_accuracy: 0.8235
Epoch 11/25
28/28 [==============================] - 0s 1ms/step - loss: 1.1188 - Department_loss: 0.7121 - Attrition_loss: 0.4067 - Department_accuracy: 0.6776 - Attrition_accuracy: 0.8286 - val_loss: 1.2046 - val_Department_loss: 0.7505 - val_Attrition_loss: 0.4541 - val_Department_accuracy: 0.6606 - val_Attrition_accuracy: 0.8235
Epoch 12/25
28/28 [==============================] - 0s 1ms/step - loss: 1.1114 - Department_loss: 0.7086 - Attrition_loss: 0.4029 - Department_accuracy: 0.6833 - Attrition_accuracy: 0.8286 - val_loss: 1.2003 - val_Department_loss: 0.7483 - val_Attrition_loss: 0.4520 - val_Department_accuracy: 0.6561 - val_Attrition_accuracy: 0.8235
Epoch 13/25
28/28 [==============================] - 0s 1ms/step - loss: 1.1056 - Department_loss: 0.7057 - Attrition_loss: 0.3999 - Department_accuracy: 0.6799 - Attrition_accuracy: 0.8286 - val_loss: 1.2111 - val_Department_loss: 0.7601 - val_Attrition_loss: 0.4510 - val_Department_accuracy: 0.6199 - val_Attrition_accuracy: 0.8235
Epoch 14/25
28/28 [==============================] - 0s 1ms/step - loss: 1.0930 - Department_loss: 0.6965 - Attrition_loss: 0.3965 - Department_accuracy: 0.6924 - Attrition_accuracy: 0.8286 - val_loss: 1.2128 - val_Department_loss: 0.7628 - val_Attrition_loss: 0.4500 - val_Department_accuracy: 0.6652 - val_Attrition_accuracy: 0.8235
Epoch 15/25
28/28 [==============================] - 0s 1ms/step - loss: 1.0900 - Department_loss: 0.6959 - Attrition_loss: 0.3942 - Department_accuracy: 0.6901 - Attrition_accuracy: 0.8286 - val_loss: 1.2109 - val_Department_loss: 0.7618 - val_Attrition_loss: 0.4491 - val_Department_accuracy: 0.6561 - val_Attrition_accuracy: 0.8235
Epoch 16/25
28/28 [==============================] - 0s 1ms/step - loss: 1.0800 - Department_loss: 0.6878 - Attrition_loss: 0.3922 - Department_accuracy: 0.6969 - Attrition_accuracy: 0.8286 - val_loss: 1.2126 - val_Department_loss: 0.7643 - val_Attrition_loss: 0.4484 - val_Department_accuracy: 0.6199 - val_Attrition_accuracy: 0.8235
Epoch 17/25
28/28 [==============================] - 0s 1ms/step - loss: 1.0762 - Department_loss: 0.6861 - Attrition_loss: 0.3901 - Department_accuracy: 0.6924 - Attrition_accuracy: 0.8286 - val_loss: 1.2073 - val_Department_loss: 0.7603 - val_Attrition_loss: 0.4469 - val_Department_accuracy: 0.6516 - val_Attrition_accuracy: 0.8235
Epoch 18/25
28/28 [==============================] - 0s 1ms/step - loss: 1.0660 - Department_loss: 0.6777 - Attrition_loss: 0.3883 - Department_accuracy: 0.6947 - Attrition_accuracy: 0.8286 - val_loss: 1.2104 - val_Department_loss: 0.7642 - val_Attrition_loss: 0.4462 - val_Department_accuracy: 0.6425 - val_Attrition_accuracy: 0.8235
Epoch 19/25
28/28 [==============================] - 0s 1ms/step - loss: 1.0594 - Department_loss: 0.6729 - Attrition_loss: 0.3865 - Department_accuracy: 0.7026 - Attrition_accuracy: 0.8286 - val_loss: 1.2149 - val_Department_loss: 0.7676 - val_Attrition_loss: 0.4473 - val_Department_accuracy: 0.6606 - val_Attrition_accuracy: 0.8235
Epoch 20/25
28/28 [==============================] - 0s 1ms/step - loss: 1.0512 - Department_loss: 0.6658 - Attrition_loss: 0.3854 - Department_accuracy: 0.7072 - Attrition_accuracy: 0.8297 - val_loss: 1.2132 - val_Department_loss: 0.7671 - val_Attrition_loss: 0.4461 - val_Department_accuracy: 0.6425 - val_Attrition_accuracy: 0.8235
Epoch 21/25
28/28 [==============================] - 0s 1ms/step - loss: 1.0502 - Department_loss: 0.6654 - Attrition_loss: 0.3849 - Department_accuracy: 0.7026 - Attrition_accuracy: 0.8365 - val_loss: 1.2162 - val_Department_loss: 0.7697 - val_Attrition_loss: 0.4466 - val_Department_accuracy: 0.6199 - val_Attrition_accuracy: 0.8235
Epoch 22/25
28/28 [==============================] - 0s 1ms/step - loss: 1.0393 - Department_loss: 0.6579 - Attrition_loss: 0.3814 - Department_accuracy: 0.7174 - Attrition_accuracy: 0.8286 - val_loss: 1.2188 - val_Department_loss: 0.7719 - val_Attrition_loss: 0.4469 - val_Department_accuracy: 0.6561 - val_Attrition_accuracy: 0.8235
Epoch 23/25
28/28 [==============================] - 0s 1ms/step - loss: 1.0311 - Department_loss: 0.6513 - Attrition_loss: 0.3798 - Department_accuracy: 0.7037 - Attrition_accuracy: 0.8309 - val_loss: 1.2245 - val_Department_loss: 0.7781 - val_Attrition_loss: 0.4463 - val_Department_accuracy: 0.6154 - val_Attrition_accuracy: 0.8190
Epoch 24/25
28/28 [==============================] - 0s 2ms/step - loss: 1.0293 - Department_loss: 0.6516 - Attrition_loss: 0.3777 - Department_accuracy: 0.7083 - Attrition_accuracy: 0.8331 - val_loss: 1.2304 - val_Department_loss: 0.7833 - val_Attrition_loss: 0.4471 - val_Department_accuracy: 0.6516 - val_Attrition_accuracy: 0.8190
Epoch 25/25
28/28 [==============================] - 0s 1ms/step - loss: 1.0175 - Department_loss: 0.6414 - Attrition_loss: 0.3761 - Department_accuracy: 0.7185 - Attrition_accuracy: 0.8354 - val_loss: 1.2302 - val_Department_loss: 0.7844 - val_Attrition_loss: 0.4457 - val_Department_accuracy: 0.6154 - val_Attrition_accuracy: 0.8235

In [22]:
# Evaluate the model with the testing data
results = att_model.evaluate(X_test_scaled, {'Department': y_test_encoded_Dep, 'Attrition': y_test_encoded_Attr}, verbose=1)

12/12 [==============================] - 0s 677us/step - loss: 1.3349 - Department_loss: 0.9432 - Attrition_loss: 0.3917 - Department_accuracy: 0.5625 - Attrition_accuracy: 0.8777

In [23]:
# Print the accuracy for both department and attrition
print(f"Department Accuracy: {results[3]*100}")
print(f"Attrition Accuracy: {results[4]*100}")

Department Accuracy: 56.25
Attrition Accuracy: 87.771737575531

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. The accuracy is the best metric to use on the data because 
2. The activation functions used were Softmax and Relu. Softmax is used for "Department" column since it has multiple categories. Relu was used to allow the model to learn and represent more complex patterns in the data.
3. The model could be improved by using more data, to increase the amount of training data and gain a deeper understanding on patterns and relationships. The architecture of the model could also be modified to improve its performance.